// static landing page
// %h1 This is the welcome page!

.jumbotron
    %h1 File Cabinet
    %p Your work. <span>Organized, always.</span>
    %p= link_to "Get started", new_user_registration_path, class: "btn btn-md btn-success"
