body {
    font-size: 16px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.margin-top { margin-top: 10px; }

.navbar-default .navbar-brand {
    color: #444;
    font-size: 1.5em;
}

.jumbotron {
    background: url(image_path("unsplash-work-2.jpg"));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    // color: #fff;
    text-align: right;
    padding-right: 270px !important;
    padding-top: 120px;
}

a,
a:hover {
    color: #111;
    text-decoration: none;
}

.form-horizontal .form-group {
    margin-right: 0;
}

.create-edit-form-btn {
    margin-left: -15px;
}

.form-actions.log-in-btn,
.form-actions.sign-up-btn {
    margin-bottom: 20px;
}

textarea.form-control {
    height: 250px;
}